<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C_SalasanaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <C_SalasanaManager.Properties.Settings>
            <setting name="UploadFTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPaddress" serializeAs="String">
                <value>ftp://</value>
            </setting>
            <setting name="FTPuser" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordPlainText" serializeAs="String">
                <value>True</value>
            </setting>
        </C_SalasanaManager.Properties.Settings>
    </userSettings>
</configuration>